.school-teachers {
  margin-bottom: 130px;
  &__top {
    @include flexLayout(flex, space-between, flex-start, none, row nowrap);
  }
  &__small-box {
    &-heading {
      margin-bottom: 30px;
      @include headingFonts(#1f2633, 36px, 700, 43.88px, none);
    }
    &-horizontal-rule {
      height: 3px;
      width: 387px;
      margin-bottom: 60px;
      background-color: #1f2633;
    }
  }
  &__buttons {
    @include flexLayout(flex, flex-start, center, 8px, row nowrap);
    &-btn {
      @include Button(#003057, none, 50%, 20px, none);
      @include flexLayout(flex, center, center, none, row nowrap);
      svg {
        path {
          stroke: #ffffff;
        }
      }
      &:nth-child(1) {
        transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__item {
    margin-bottom: 40px;

    z-index: 1;
    &-img {
      object-fit: cover;
      border-radius: 8px 8px 0px 0px;
      -o-border-radius: 8px 8px 0px 0px;
      -ms-border-radius: 8px 8px 0px 0px;
      -moz-border-radius: 8px 8px 0px 0px;
      -webkit-border-radius: 8px 8px 0px 0px;
    }
  }
  &__content {
    padding: 15px 30px;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    box-shadow: 1px 2px 4px 0px #00000029;
    &-heading {
      margin-bottom: 5px;
      @include headingFonts(#003057, 20px, 600, 24.38px, capitalize);
    }
    &-job-name {
      @include headingFonts(#1f2633, 14px, 500, 17.07px, none);
    }
  }
  &__all {
    @include flexLayout(flex, center, center, none, row nowrap);
    &-btn {
      @include flexLayout(flex, center, center, 8px, row nowrap);
      @include headingFonts(#ffffff, 18px, 400, 21.94px, none);
      @include Button(#003057, 1px solid #003057, 5px, 12px 52px, none);
      transition: color 300ms linear, background-color 300ms linear;
      -webkit-transition: color 300ms linear, background-color 300ms linear;
      -moz-transition: color 300ms linear, background-color 300ms linear;
      -ms-transition: color 300ms linear, background-color 300ms linear;
      -o-transition: color 300ms linear, background-color 300ms linear;
      svg {
        path {
          transition: stroke 300ms linear;
          -o-transition: stroke 300ms linear;
          -ms-transition: stroke 300ms linear;
          -moz-transition: stroke 300ms linear;
          -webkit-transition: stroke 300ms linear;
        }
      }
      &:hover {
        color: #003057;
        background-color: transparent;
        svg {
          path {
            stroke: #003057;
          }
        }
      }
    }
  }
}
